html {
  background-color: black;
  color: white;
}

header {
  text-align: center;
  font-size: 20px;
  height: 40px;
  border-bottom: 2px solid white;
}

header h1 {
  margin-top: none;
}

img {
  height: 500px;
  width: 500px;
}
  

footer p {
  font-size: 15px;
  ocpacity: .5;
}

button {
  color: white;
  background-color: black;
  border: 2px dashed white;
}
